<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="potionsDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\gitHub\MaginPotion.Responsive.Example\MagicPotion.Web\App_Data\MagicPotionDB.mdf;Integrated Security=True"/>
  </connectionStrings>
</configuration>